

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--color-deeppurple: rgb(37, 19, 114); 
--color-white: #fff;
--color-black: #000;
}


body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-deeppurple)
}

.container-gallery {
   width: 800px;
   display: flex;
   justify-content: baseline;
}

.container-gallery img {
    width: 80%;
    border: 1px transparent solid;
    transition: transform .1s ease-in, border .1s ease-in, margin .1s ease-in, box-shadow .1s ease-in, border-radius .1s ease-in;
    cursor: pointer;
}

.container-gallery img:hover {
    border: 1px solid yellow;
    transform: scale(1.10) translateY(-10px);
    margin: 0 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0,0, .4);
}

.viewImg {
    width: 100%;
    height: 100vh;
    background-color: rgb(0,0,0, .9);
    opacity: 9;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;

}

.viewImg img{
    width: 500px;
}

button {
    background-color:transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    color: red;
    font-size: 30px;
    transition: color .4s ease-in-out;
}


button:hover {
color: rgb(255, 156, 156);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(.5) translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scale(.5) translateY(-100px);
    }
}